@import 'colors';
@import 'units';

.typography__interface-small { font-size:0.75rem; }
.typography__interface-medium { font-size:0.875rem; font-weight:500; line-height: $grid-unit * 5; }
.typography__heading-small { font-size: 1rem; font-weight:600; line-height:$grid-unit * 6;}

.typography_shadow {
  text-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.typography__interface-caps{
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  text-transform:uppercase;
}
.typography__monospace{
  font-family:'Courier New';
}

.type_antialias{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.type_color-action-hover:hover{
  color:#2265c9;
}

a{
  text-decoration:none;
}
a:hover{
  cursor:pointer;
}

.typography__styleguide-code{
  @extend .typography__secondary-color;
  font-family:'Courier New';
  font-size: 0.875rem;
}
.typography__styleguide-h2 { font-size: 32px; font-weight:500; line-height:40px; }
.typography__styleguide-h3 {
  @extend .typography__primary-color;
  font-size: 24px;
}
.typography__styleguide-h4 { font-size: 16px; }

.typography__primary-color{color:$primary-text;}
.typography__secondary-color{color:$secondary-text;}
.typography__tertiary-color{color:$tertiary-text;}
.typography__action-color{color:$action-text;}
.typography__sketch-color{color:$sketch-text;}
.typography__reverse-color{color:white;}
.typography__reverse75-color{color:rgba(255,255,255,0.75);}

.typography__line-height-5 { line-height: $grid-unit * 5; }
.typography__line-height-4 { line-height: $grid-unit * 4; }
.typography__line-height-6 { line-height: $grid-unit * 6; }

/* VARIABLES */

$line-height-1: 1 !default;
$line-height-2: 1.125 !default;
$line-height-3: 1.25 !default;
$line-height-4: 1.5 !default;
$line-height-5: 1.6 !default;
$letter-spacing: 1 !default;
$caps-letter-spacing: .2em !default;
$bold-font-weight: bold !default;

$landing-subtitle:3.0rem !default;

$h1: 2.5rem !default;
$h2: 0rem !default;
$h3: 1.5rem !default;
$h4: 1.25rem !default;
$h5: 1rem !default;
$h6: 0.5rem !default;

$ts1: 0.5rem !default;
$ts: 0.6rem !default;
$t0: 0.625rem !default;
$t1: 0.7rem !default;
$t2: 0.75rem !default;
$t3: 0.8rem !default;
$t4: 0.875rem !default;
$t5: 0.95rem !default;
$t6: 1rem !default;
$t7: 1.1rem !default;
$t8: 1.125rem !default;

/* Type Scale */

h1,.h1 {
  font-size: $h1;
  font-weight: 700;
  color: $primary-text;
  margin-bottom: 12 * $grid-unit;
}
h2,.h2 {
  font-size: $h2;
  font-weight: 600;
  color: $primary-text;
  margin-top: 0 !important * $grid-unit;
  margin-bottom: 0 !important * $grid-unit;
}
h3,.h3 {
  font-weight: 500;
  color: $primary-text;
  font-size: $h3;
  margin-top:4 * $grid-unit;
  margin-bottom: 4 * $grid-unit;
}
.old-h1 {font-size:$h1;}
.old-h2 {font-size:$h2;}
.old-h3 {font-size:$h3;}
h4,.h4 { @extend .type_heading-medium; margin-top: 4 * $grid-unit; margin-bottom: 4 * $grid-unit;}
h5,.h5 { @extend .type_heading-small; margin-top: 4 * $grid-unit; margin-bottom: 4 * $grid-unit;}
.h6 { font-size: $h6; }

.ts1{ font-size: $ts1;}
.ts{ font-size: $ts;}
.t0{ font-size: $t0}
.t1{ font-size: $t1}
.t2{ font-size: $t2}
.t3{ font-size: $t3}
.t4{ font-size: $t4}
.t5{ font-size: $t5}
.t6{ font-size: $t6}
.t7{ font-size: $t7}
.t8{ font-size: $t8}

.font-size-72 { font-size: 7.2rem; }
.font-size-36 { font-size: 3.6rem; }
.font-size-22 { font-size: 2.2rem; }

.letter-spacing-wide{
  letter-spacing: 1px;
}

.landing,.pricing{
  font-family: 'Open Sans', sans-serif;
}

.landing-quote{
  color:$blue-grey;
  font-size:2.2rem;
  font-weight:300;
}

.landing-bottom-cta-title{
  color:$pink-background;
  font-weight:400;
  font-size:2.4rem;
}

.landing-bottom-cta-subtitle{
  color:white;
  font-weight:300;
  font-size:1.6rem;
}

.landing-quote-author{
  color:$blue-grey;
  font-size:1.4rem;
  font-weight:300;
  opacity:0.9;
  strong{
    opacity:0.8;
  }
}

.landing-title{
  font-size:4.5rem;
  font-weight:300;
  color:white;
  @media (max-width: 600px) {
    font-size:3.5rem;
  }
}

.landing-subtitle{
  font-size:3.0rem;
  font-weight:300;
  color:$pink-background;
  @media (max-width: 600px) {
    font-size:2.5rem;
  }
}

.big-title {
  font-size: 2rem;
  font-weight: 250;
}

h4 {
  color: $dark-purple;
  font-size: $t6;
  font-weight: 400;
}

/* Standard Typography */

.font-family-inherit { font-family: inherit }

.font-size-inherit { font-size: inherit }

.text-decoration-none { text-decoration: none }

.bold    { font-weight: $bold-font-weight /* Fallback value:  bold */ }

.regular { font-weight: normal }

.medium {font-weight: 500;}

.thin { font-weight:200; }

.semibold {font-weight: 600;}

.heavy { font-weight: 900; }

.italic  { font-style: italic }

.caps    { text-transform: uppercase; }

.uppercase { text-transform: uppercase; }

.small-caps   { font-variant:small-caps; }

.left-align   { text-align: left }
.left-align-above-1200{
  @media (min-width: 1200px) {
    text-align:left;
  }
}

.center       { text-align: center }
.center-below-1200{
  @media (max-width: 1199px) {
    text-align:center;
  }
}
.center-below-700{
  @media (max-width: 699px) {
    text-align:center;
  }
}

.right-align  { text-align: right }
.right-align-above-1200{
  @media (min-width: 1200px) {
    text-align:right;
  }
}

.justify      { text-align: justify }

.normal-whitespace { white-space: normal }

.nowrap { white-space: nowrap }

.pre-wrap { white-space: pre-wrap; }

.break-word { word-wrap: break-word }

.break-all { word-break: break-all }

.line-height-1 { line-height: $line-height-1 }

.line-height-2 { line-height: $line-height-2 }

.line-height-3 { line-height: $line-height-3 }

.line-height-4 { line-height: $line-height-4 }

.line-height-5 { line-height: $line-height-5; }

.list-style-none { list-style: none }

.underline { text-decoration: underline }

.pre{ white-space: pre; }

/* Utilities */

.line-clamp-2 {
  max-width:100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-clamp-5 {
  max-width:100%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ellipsis-overflow{
  text-overflow:ellipsis;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.disable-selecting{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  cursor:default;
}

.selectable{
  -webkit-touch-callout: text !important; /* iOS Safari */
  -webkit-user-select: text !important;   /* Chrome/Safari/Opera */
  -khtml-user-select: text !important;    /* Konqueror */
  -moz-user-select: text !important;      /* Firefox */
  -ms-user-select: text !important;       /* Internet Explorer/Edge */
  user-select: text !important;           /* Non-prefixed version, currently
                                          not supported by any browser */
}
.selectable:hover{
  cursor:text;
}

.invalid-entry{
  border:1px solid $error-color !important;
}

.error-text{
  color:$error-color;
}

.emoji-text{
  font-size:20px;
  position:relative;
  top:3px;
  padding-left:3px;
  padding-right:3px;
}

.inactive-text{
  color: $inactive-text;
}
::-webkit-input-placeholder {
  color: $inactive-text;
}
:-moz-placeholder { /* Firefox 18- */
  color: $inactive-text;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: $inactive-text;
}
:-ms-input-placeholder {
  color: $inactive-text;
}

.faint-text{
  opacity:0.6;
}

.icon-text{
  color:$icon-color;
}

.secondary-text{
  color:$secondary-color;
}

.tertiary-text{
  color:$tertiary-color;
}

.thin-text{
  font-weight:300;
}

.not-found-text{
  color: themeable('THEME.colors.ui.text.main');
}

.title-text{
  color:$title-text;
  font-size:0.8125rem;
  letter-spacing: 0.3px;
}

.body-text{
  color:$body-text;
  font-size:0.8125rem;
}

.link-text-no-decoration {
  color:$link-text;
  letter-spacing: 0.23px;
  @extend .hover-pointer;
  @extend .blue-grey-link-hover;
}

.link-text{
  color:$link-text;
  letter-spacing: 0.23px;
  @extend .underline;
  @extend .hover-pointer;
  @extend .blue-grey-link-hover;
}
.system-text{
  color:$system-text;
  font-size: 0.875rem;
}
.white-text{
  color:white;
  letter-spacing: 0.3px;
}
.white-alpha40text{
  color:$white-alpha40;
}
.white-text-only{
  color:white;
}
.white-text-on-hover:hover{
  @extend .white-text-only;
}
.spaced-letters{
  letter-spacing: 0.8px;
}
.selected-text{
  color:$selected-color;
}
.hover-selected-text:hover{
  color:$selected-color;
}
.success-text{
  color:$success-color;
}
.error-text{
  color:$error-color;
}
.hover-white-text:hover{
  color:white;
}

.hover-underline:hover {
  text-decoration: underline;
}

.no-resize{
  resize:none;
}

input.nostyle,textarea.nostyle{
    padding: 0px;
    background: transparent;
    border: none;
    resize:none;
    width:calc(100% - 30px);
    font-size: 0.875rem;
}

input.nostyle:focus,textarea.nostyle:focus{
    outline: none;
    box-shadow:none;
}

input.reset{
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
input.reset:focus{
  outline: -webkit-focus-ring-color auto 5px !important;
}

.blue-grey-link-hover:hover{
  color: $blue-grey;
}

.blue-grey-link,.blue-grey-text {
  color: $blue-grey;
}

.light-blue-grey-text{
  color:$light-blue-grey;
}

.secondary-landing-link-text{
  color:$secondary-landing-link;
}

.pink-text {
  color: $pink-background;
}

.gradient-pink-text {
  color: $gradient-pink;
}

.light-grey-text-hover:hover{
  color: $light-grey;
}

.light-grey-text {
  color: $light-grey;
}

.dark-grey-text {
  color: $dark-grey;
}

.secondary-link {
  color: $blue-grey;
  &:focus {
    color: $link-text;
  }
  &:hover {
    color: $secondary-link-hover;
  }
}

.black-text {
  color: black;
}

.blackish-text {
  color: $black-text;
}

.header-text {
  color: $header-color;
  letter-spacing: 0;
}

.sg-text {
  color: $notes-color;
}

.pink-text {
  color: $gradient-pink;
}

.pink-hover-text:hover{
  @extend .pink-text;
}

.settings-pink-text { color: $settings-pink; }
.settings-grey-text { color: $settings-grey; }
.settings-grey-faint-text { color: $settings-grey-faint; }
.settings-black-text { color: $settings-black; }

.pricing-black { color: $pricing-black; }
.pricing-description { color: $pricing-description; }
.pricing-per { color: $pricing-per; }
.pricing-light-grey { color: $pricing-light-grey; }

.line-height-24 { line-height: 24px; }

.search-header {
  color: $search-header;
}
